* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mobile-container{
    max-width: 550px;
    margin: 0 auto;
}

body{
    background-color:#0e0d14;
}

.main-container{
    padding-left: 15px;
    padding-right: 15px;
}


