.m-wrapper{
    background-color: ghostwhite;
    padding: 1rem;
    border-radius: 20px;
    background-color: #14131D;
    margin-top: 15px;

}

.title{
    color: #CAA83F;
    font-size: 14px;
    font-weight: 500px;

}

.content{
    color: #ffffff;
    font-size: 12px;
    font-weight: 300px;
    flex-grow: 1;
    padding-left: 10px;
}

.img-item{
  flex: none;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

.card-item{
    background-color: #464456;
    padding: 5rem;
    border-radius: 10px;
    width: 132px;
    min-height: 57px;

}

.flexbox-parent{
    
    /* buat ngebungkus */
    display: flex; 
    flex-wrap: wrap;
    
}

.flexbox-item{
    flex-basis: 50%;
    max-width: 50%;
    padding-right: 10px;
}

.flexbox-inner{
    background-color: #464456;
    padding: 15px;
    border-radius: 10px;
    
    display: flex;
}