
.m-footer__parent{
    
    position: fixed;
    
    width: 550px;
    bottom: 0;

}


.m-footer{
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #0E0D14;
    color: white;
    display: flex;
    line-height: 1.15;
    
}

.m-footer__home{
    flex: 1 1 0;
    color: #838383;
    display: block;
    text-align: center;
    
}

.m-footer__search{
    flex: 1 1 0;
    color: #CAA83F;    
    display: block;
    text-align: center;
}

.m-footer__like{
    flex: 1 1 0;
    color: #838383;
    display: block;
    text-align: center;
}

.m-footer__account{
    flex: 1 1 0;
    color: #838383;
    display: block;
    text-align: center;
}

@media screen and (max-width:600px) {
    .m-footer__parent{
        width: 100%;
    }
}