.m-header{
    height: 50px;
    width: 100%;
    /* background-color: aqua; */
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 1.15;
}

.m-header__btn{
    flex: none;
    width: 40px;
    margin-right: 10px;
    color: #838383;
}

.m-header__form{
    flex-grow: 1;

}

.input-control{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 35px;
    background-color: #464355;
    /* color: #5e5eff; */
    /* border-color: transparent; */
}